

body {
    background-image:url(textures/notebook_paper_texture_1.jpg);
}
#puzzle-div {
    text-align:center;
}
#control-panel {
    text-align:center;
    width:450px;
    margin:0 auto;
    background-color:transparent;
}
.panel, .panel-default, .panel-body, .btn-group {
    background-color:transparent;
}
.btn-group {
    margin-bottom:10px;
}






.square {
    height:50px;
    width:50px;
    float:left;
    background-color:transparent;
    border:1px solid black;
    font-size:150%;
}
.region {
    display:inline-block;
    margin:1px;
}
#board {
    width:450px;
    background-color:transparent;
    display:inline-block;
}
#difficulty-label {
    text-transform: capitalize;
}

button#impossible {
    background-color:#777;
    color:white;
}
.locked {
    font-weight:bold; 
}
.infected {
    background-image:url(textures/pink_texture_1.jpe);
}
.numberpad {
    background-image:url(textures/blue_texture_1.jpe);
    font-weight:normal;
}



@media screen and (max-width: 450px) {
    
    #board, #control-panel {
        width:100%;
    }
    .btn-group {
        width:100%;
    }
    .btn, .btn-default {
        display:block;
        width:100%;
        border-radius:4px !important;
    }
    .square {
        height:11vw;
        width:11vw;
        max-width:calc(100%/9);
    }
    .container-fluid {
        padding-left:0px !important;
        padding-right:0px !important;
    }
    
}
